{% extends "./base/base.html" %}
{% block streamer %}
    <div class="streamer-area">
        <div class="area-1 area">
            <div class="title-1 title-header">
                <h1>FOLLOWED STREAMERS</h1>
            </div>
            <div class="data-1">
                {% if session %}
                    {% for streamer in live_data %}
                        <div class="div-streamer">
                            {% if live_data[streamer][0] == "NOT LIVE" %}
                                <h1 class="streamer-box"><a href="{{ url_for('main.streamer', streamer_name = streamer) }}">{{streamer}}</a> is <span class="not-live">{{live_data[streamer][0]}}</span></h1>
                            {% else %}
                                <h1><a href="{{ url_for('main.streamer', streamer_name = streamer) }}">{{streamer}}</a> has been <span class="live">{{live_data[streamer][0]}}</span> for {{ live_data[streamer][2] }} and is currently playing {{ live_data[streamer][1] }}</h1>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="area-2 area">
            <div class="title-2 title-header">
                <h1>TOP STREAMERS</h1>
            </div>
            <div class="data-2">
                {% if session %}
                    {% for streamer in live_data %}
                        <div class="div-streamer">
                            {% if live_data[streamer][0] == "NOT LIVE" %}
                                <h1 class="streamer-box"><a href="{{ url_for('main.streamer', streamer_name = streamer) }}">{{streamer}}</a> is <span class="not-live">{{live_data[streamer][0]}}</span></h1>
                            {% else %}
                                <h1><a href="{{ url_for('main.streamer', streamer_name = streamer) }}">{{streamer}}</a> has been <span class="live">{{live_data[streamer][0]}}</span> for {{ live_data[streamer][2] }} and is currently playing {{ live_data[streamer][1] }}</h1>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="area-3 area">
            <div class="title-3 title-header">
                <h1>TOP CATEGORIES</h1>
            </div>
            <div class="data-3">
                {% if session %}
                    {% for streamer in live_data %}
                        <div class="div-streamer">
                            {% if live_data[streamer][0] == "NOT LIVE" %}
                                <h1 class="streamer-box"><a href="{{ url_for('main.streamer', streamer_name = streamer) }}">{{streamer}}</a> is <span class="not-live">{{live_data[streamer][0]}}</span></h1>
                            {% else %}
                                <h1><a href="{{ url_for('main.streamer', streamer_name = streamer) }}">{{streamer}}</a> has been <span class="live">{{live_data[streamer][0]}}</span> for {{ live_data[streamer][2] }} and is currently playing {{ live_data[streamer][1] }}</h1>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block dashboard %}
<a class="twitch" href="{{login_url}}">Update Following List</a>
{% endblock %}