{% extends "./base/base.html" %}
{% block top %}
    <div class="vod-top">
        <h1 class="vod-header gradient-color">latest favourite vods.</h1>
    </div>
    <div class="vod-area">
        {% if vod_data %}
            {% for n in range(vodLength) %}
                <a href="{{vod_data[n][1]}}" target="_blank">
                <div class="vod-object">
                    <div class="vod-object-top">
                        <img src="{{vod_data[n][0]}}"/>
                        <span class="views-text">{{vod_data[n][5]}} views</span>
                        <span class="length-text">{{vod_data[n][3]}}</span>
                    </div>
                    <div class="vod-object-bottom">
                        <h3>{{vod_data[n][2]}}</h3>
                        <div class="date-and-username">
                            <h4>{{vod_data[n][4]}}</h4>
                            <h5>{{vod_data[n][6]}}</h5>
                        </div>
                    </div>
                </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}