{% extends "./base/base.html" %}
{% block top %}
    <div class="random-area">
        <div class="random-left">
            <iframe src="https://player.twitch.tv/?channel={{ user_name }}&parent=localhost" frameborder="0" allowfullscreen="true" scrolling="no" height="360" width="640"></iframe>
        </div>
        <div class="random-right">
            <h2>You have just started watching <a href="https://twitch.tv/{{ user_name }}" class="gradient-color">{{ user_name }}'s</a> stream.</h2>
            <h2>Supporting smaller content creators is important.</h2>
            <h2>If you enjoy the stream, make sure to drop them a follow!</h2>
            <h2>However, if you wish to skip to find another streamer which suits your needs click the button below.</h2>
            <a href="{{ url_for('main.randomHTML')}}"><h2>NEXT</h2></a>
        </div>
    </div>
{% endblock %}