{% extends "./base/base.html" %}
{% block top %}
    <div class="random-area">
        <div class="random-left">
            <iframe src="https://player.twitch.tv/?channel={{ user_name }}&parent=localhost" frameborder="0" allowfullscreen="true" scrolling="no" class="iframe-dim"></iframe>
        </div>
        <div class="random-right">
            <h2>You have just started watching <a href="https://twitch.tv/{{ user_name }}" class="gradient-color">{{ user_name }}'s</a> stream.</h2>
            <h3>Supporting smaller content creators is important.</h3>
            <h3>If you enjoy the stream, make sure to drop them a follow!</h3>
            <h3>However, if you wish to skip to find another streamer which suits your needs click the button below.</h3>
            <a href="{{ url_for('main.randomHTML')}}"><img src="{{ url_for('static', filename='/img/arrow-right-circle.svg') }}" alt=""></a>
        </div>
    </div>
{% endblock %}