{% extends "./base/base.html" %}
{% block top %}
    <div class="random-area">
        <div class="random-left">
            <h2>embed</h2>
        </div>
        <div class="random-right">
            <h1>u just started watching ...'s stream.</h1>
            <h2>supporting small streamers is importanto</h2>
            <h2>further text</h2>
            <h2>however if you wish to skip to find another streamer which suits your needs</h2>
            <h2>click here</h2>
        </div>
    </div>
{% endblock %}