{% extends "./base/base.html" %}
{% block top %}
    <div class="settings-area">
        <div class="setting-1">
            <div class="setting-1-header">
                <h1>List of Favourite Streamers:</h1>
            </div>
            <div class="setting-1-list">
                {% for streamer in favourites %}
                    <h2>{{ streamer }}</h2>
                {% endfor %}
            </div>
        </div>
        <div class="settings-2">
            <div class="setting-forget">
                <a href="{{ url_for('main.logout')}}">Forget Me</a>
            </div>
        </div>
    </div>
{% endblock %}