{% extends "./base/base.html" %}
{% block top %}
    <div class="individual-streamer-area">
        <div class="individual-streamer-area-left">
            <div class="isa-faq">
                <h1 class="gradient-color-2">channel faq</h1>
            </div>
        </div>
        <div class="individual-streamer-area-middle">
            <div class="isa-bans">
                <h1 class="gradient-color-2">current ban status</h1>
            </div>
        </div>
        <div class="individual-streamer-area-right">
            <div class="isa-clips">
                <h1 class="gradient-color-2">popular clips</h1>
            </div>
        </div>
    </div>
{% endblock %}