{% extends "./base/base.html" %}
{% block header %}
    <div class="header-area">
        <div class="button-area">
            <a class="button-colour button" href="{{login_url}}">Launch Statum</a>
        </div>
    </div>
{% endblock %}
{% block top %}
    <div class="top-area">
        <div class="top-header">
            <h1 class="header-text">STATUM — IN PROGRESS</h1>
            <div class="typed-div">
                <h2 class="header-text">The status platform for <span class="typed"></span></h2>
            </div>
            <h3 class="header-text">Statum allows you to find out in-depth, real-time information about streamers on the Twitch platform.</h3>
        </div>
    </div>
{% endblock %}